MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=findooora@gmail.com
MAIL_PASSWORD=xxxx xxxx xxxx xxxx
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=findooora@gmail.com
MAIL_FROM_NAME=Findora
FRONTEND_BASE_URL=http://localhost:5173
